[submodule "extern/filecoin-ffi"]
	path = extern/filecoin-ffi
	url = git@github.com:DeepBrainChain/DBC-filecoin-ffi.git
	branch = webapi
[submodule "extern/serialization-vectors"]
	path = extern/serialization-vectors
	url = https://github.com/filecoin-project/serialization-vectors
