[submodule "extern/filecoin-ffi"]
	path = extern/filecoin-ffi
	url = https://github.com/sbwtw/filecoin-ffi
	branch = 4056910-webapi
[submodule "extern/serialization-vectors"]
	path = extern/serialization-vectors
	url = https://github.com/filecoin-project/serialization-vectors
[submodule "extern/test-vectors"]
	path = extern/test-vectors
	url = https://github.com/filecoin-project/test-vectors.git
